*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    padding-bottom: 100px;
}

.container {
    background: #f2f2f2;
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 30px;
    
}

.container .container-wrapper {
    display: flex;
    column-gap: 30px;
}

.container .container-wrapper .left {
    /* background-color: rgb(73, 182, 182); */
    width: 67%;
}

.news {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    margin-bottom: 25px;
    width: 100%;
    font-size: 40px;
}

.news .top-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.big {
    background-color: white;
}

.big,
.small {
    width: calc((100% - 30px) / 2);
}

.big .foto img {
    height: 240px;
    width: 100%;
    object-fit: cover;
}

.big .info {
    padding: 38px;
}

.small {
    display: flex;
}

.small .info {
    padding-left: 20px;
}

.small .foto {
    width: 35%;
}

.small .info {
    width: 65%;
}

.small .foto img {
    height: 80px;
    object-fit: cover;
    width: 100%;
}

.small .info h3 {
    font-size: 14px;
}

.bottom-wrapper {
    padding: 33px 60px 33px 40px;
    background-color: white;
    margin-top: 20px;
    width: 100%;
}

/* .button-big::after {
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19' height='33'%3E%3Cpath d='M2.535 32.526L.033 30.024l13.76-13.761L.034 2.502 2.535-.001 18.8 16.263z' fill-rule='evenodd'/%3E%3C/svg%3E")
   
} */

.button-big a {
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.video-container {
    width: 100%;
}

.video-container iframe {
    width: 100%;
    min-height: 400px; 
}

.video-info {
    padding-top: 25px;
    padding-bottom: 5px;
    font-size: 30px;
    font-weight: 700;
}






.container .container-wrapper .right {
    /* background-color: coral; */
    width: 33%;
}

/* .podcast .podcast-container{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
} */



.podcast-container {
    margin-bottom: 30px;
    background-color: white;
}

.top-view {
    /* background-color: aqua; */
    display: flex;
    /* align-items: center; */
    /* align-content: center; */
    height: 70px;
    border: solid 1px;
    /* justify-content: center; */
    
}

.top-view .foto {
    width: 24%;
}

.top-view .foto img {
    height: 70px;
    width: 100%;
    object-fit: cover;
}

.top-view .time {
    height: 70px;
    width: 62%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.top-view .play {
    height: 70px;
    width: 24%;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
}

.bottom-view {
    padding: 17px 20px;
}

.event a img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.event a {
    text-decoration: none;
}

/* a .event-card {
    background-color: black;
    color: white;    
} */

.event-card .event-date {
    max-width: 70px;
    margin-bottom: -50px;
    margin-left: 20px;
}

.event-date {
    height: 70px;
    max-width: 70px;
    position: relative;
    z-index: 2;
   
}

.event-date .day {
    font-size: 25px;
    font-weight: 600;

    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: white;
    color: black;
    min-height: 70%;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.event-date .month {
    color: white;

    display: flex;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    background-color: #ff00e9;
    height: 30%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}


.card-info {
    background-color: black;
    padding: 50px 20px 20px 20px;
    margin-bottom: 30px;
    color: white;
}

.event-location {
    font-size: 12px;
}

.event-title {
    font-size: 35px;
}